<div class="card" style="width: 15rem; height:fit-content; background-color: #E0E0E0; margin-bottom: 20px">
    <img class="card-img-top mx-auto" src="/img/{{avatar}}" alt="Card image cap" style="height: 200px; width: 100%; object-fit: cover;">
    <div class="card-body">
        <h5 class="card-title mb-0">{{name.last}}, {{name.first}}</h5>
        <p class="card-text">{{specialization}}</p>
        <p class="card-text" style="text-align: center">
            <button type="button" class="btn btn-primary w-75 mt-2" data-toggle="modal" data-target="#exampleModal"> View Schedule </button>
        </p>
    </div>
</div>