<footer class="footer" style="background-color: #5C6B6B;">
    <div class="container-fluid pt-4 pb-3 px-4">
        <div class="row d-flex">
            <div class="col-lg text-left">
                <div class="d-flex flex-row justify-content-start align-items-center" style="color: #F2F2F2;">
                    {{!-- <img src="/img/rainbow.png" width="50"> --}}
                    <i class="far fa-hospital fa-2x"></i>
                    <h2 class="pl-2" style="font-family: 'Roboto Mono';">DoloMed</h2>
                </div>

                <p style="font-family: 'Roboto Mono'; color: #F2F2F2;">
                    <a href="about" class="link" style="color: #F2F2F2; text-decoration: none;">About</a> | <a
                        href="healthprograms" class="link" style="color: #F2F2F2; text-decoration: none;">Health
                        Programs</a> | <a href="doctors" class="link"
                        style="color: #F2F2F2; text-decoration: none;">Doctors</a>
                </p>
            </div>
            <div class="col-lg text-right">
                <div class="d-lg-flex flex-column align-items-end justify-content-end">
                    <p style="font-family: 'Roboto Mono'; color: #F2F2F2;">Taft Avenue, Manila City</p>
                    <p style="font-family: 'Roboto Mono'; color: #F2F2F2;">(04) 4444 4444</p>
                </div>
            </div>
        </div>
    </div>
</footer>