{{#if admin_active}}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <a class="navbar-brand" href="/"><img src="/img/rainbow.png" width="60">DoloMed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {{#if hp_active}}active{{/if}}">
                <a class="nav-link" href="/adminhp">Health Programs</a>
            </li>
            <li class="nav-item {{#if doctors_active}}active{{/if}}">
                <a class="nav-link" href="/admindoc">Doctors</a>
            </li>
             <li class="nav-item {{#if appointments_active}}active{{/if}}">
                <a class="nav-link" href="/appointments">Appointments</a>
            </li>
            <li class="nav-item {{#if participants_active}}active{{/if}}">
                <a class="nav-link" href="/participants">Participants</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {{#if doctors_active}}
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-plus-circle" style="padding-right: 5px;"></i>Add a Doctor</a>
            </li>
            {{/if}}
            {{#if hp_active}}
            <li class="nav-item {{#if addhp_active}}active{{/if}}">
                <a class="nav-link" href="/addhp"><i class="fas fa-plus-circle" style="padding-right: 5px;"></i>Add a Program</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt" style="padding-right: 5px;"></i>Log Out</a>
            </li>
        </ul>
    </div>
</nav>

{{else}}

<nav class="navbar navbar-expand-lg sticky-top navbar-dark">
    <a class="navbar-brand" href="/"><img src="/img/rainbow.png" width="60">DoloMed</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item {{#if home_active}}active{{/if}}">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {{#if about_active}}active{{/if}}">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item {{#if hp_active}}active{{/if}}">
                <a class="nav-link" href="/healthprograms">Health Programs</a>
            </li>
            <li class="nav-item {{#if doctors_active}}active{{/if}}">
                <a class="nav-link" href="/doctors">Doctors</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {{#if user_active}}
            <li class="nav-item">
                <a class="nav-link" href="/profile"><i class="fas fa-home" style="padding-right: 7px;"></i>My Dashboard</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#loginModal" style="cursor:pointer"><i class="fas fa-sign-in-alt" style="padding-right: 7px;"></i>Login</a>
            </li>
            {{/if}}
            {{#if user_active}}
            <li class="nav-item">
                <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt" style="padding-right: 5px;"></i>Log Out</a>
            </li>
            {{else}}
            <li class="nav-item {{#if register_active}}active{{/if}}">
                <a class="nav-link" href="/register"><i class="fas fa-user-plus" style="padding-right: 7px"></i>Sign Up</a>
            </li>
            {{/if}}
        </ul>
    </div>
</nav>

{{!-- Register Health Program Login Modal --}}
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true"
    style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="loginModalTitle">Login to DoloMed</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{#if hp_active}}/healthprograms/modal{{else}}/{{/if}}">
                    <div class="text-center pb-2" style="color: red">
                        <small class="loginModalErrorText"></small></div>
                    <div class="form-group text-center">
                        <label for="loginemail_modal">Email address</label>
                        <input type="email" class="form-control" name="loginemail_modal" id="loginemail_modal"
                            aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group text-center">
                        <label for="loginpass_modal">Password</label>
                        <input type="password" class="form-control" name="loginpass_modal" id="loginpass_modal"
                            placeholder="Password">
                    </div>
                    <div class="text-center">
                        {{!-- <button type="submit" class="btn btn-primary pb-1">Submit</button> --}}
                        <button id="loginbtn" class="btn btn-primary pb-1">Submit</button>
                    </div>
                    <div class="text-center pt-3">
                        <small><a href="/forgotpassword" style="color:#2F8250;">Forgot
                                password?</a></small>
                        <hr>
                        <small>Don't have an account? <a href="/register" style="color:#2F8250;">Sign
                                up.</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{/if}}