<style>
    .link {
        color: #fff;
        text-decoration: none;
        display: inline-block;
        position: relative;
    }

    .link:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #fff;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .link:hover:after {
        width: 100%;
        left: 0;
    }

    .shadow {
        transition: box-shadow .3s;
        position: relative;
        z-index: 10;
    }

    .shadow:hover {
        box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    }
</style>

<div class="container-fluid pb-4">
    <div class="row">
        <div class="col">
            <div class="pt-5 pl-3">
                <h1 style="font-family: 'Montserrat', sans-serif; color: #2F8250; font-weight: 700; font-size: 130px; text-align: center;">
                    Our Mission
                </h1>
                <p class="pt-2" style="font-family: 'Montserrat', sans-serif; font-size: 24px; color: #5C6B6B; text-align: center;">
                    The mission of Dolomed Hospital is to provide a <br>
                    responsive healing environment for patients <br>
                    and their families, and to cultivate the quality of life for <br>
                    all members of our community.
                </p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="card mx-auto border shadow-sm" style="width: 70rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 64px; font-family: 'Montserrat', sans-serif; color: #5C6B6B; text-align: center;">About</div>
            <div class="card-text">
                <p class="pt-2" style="font-size: 24px; font-family: 'Montserrat', sans-serif; color: #5C6B6B; text-align: center;">
                    Dolomed, the nation's first hospital, has a responsibility to ensure <br>
                    access to superior quality integrated health care for our community <br>
                    and expand access for underserved populations within the <br>
                    community. Dolomed has programs such as being able to have an <br>
                    appointment with a doctor through online and register to an <br>
                    available heatlh program offered by Dolomed. <br>
                    <br>
                    These programs enables a supportive team environment for patients, <br>
                    employees, and clinical staff. Foster learning and growth through <br>
                    comprehensive academic and educational relationships. Exhibit <br>
                    stewardship and creativity in the management <br>
                    of all available resources. <br>
                </p>
            </div>
        </div>
</div>
<div class="form-group" style="font-size: 20px; font-family: 'Montserrat', sans-seirf; color: #5C6B6B; text-align: center;">
    Carandang • Cuasi • Oliquino • Salamante • Silverio •  Tulabot • Villanueva
</div>
<br>

{{> footer}}

<script>
    function modal() {
        $('#loginModal').modal('show');
    }
</script>