<style>
    th {
        color: #2F8250 !important;
    }
</style>

<body style="background-color: rgb(243, 243, 243); margin: 0; font-family: 'Roboto Mono';">
    <!-- Navigation Bar -->
    <!-- Sticky Vertical Navigation Bar -->
    <ul class="vertical-navbar">
        <a href="/" style=" text-decoration: none;">
            <p class="h1 shrink gradient-text"
                style="text-align: center; margin-left: 8px; margin-top: .5rem; font-family: 'Montserrat', sans-serif;">
                DoloMed <i class="far fa-hospital"></i>
            </p>
        </a>
        <hr>
        <li><a href="/profile"
                style="font-size:large; font-family: 'Montserrat', sans-serif; text-decoration:underline"><i
                    class="fas fa-home" style="margin-right: 10px; "></i>Dashboard</a></li>
        <li>
            <a href="/healthprograms"
                style="font-size: large; font-family: 'Montserrat', sans-serif; text-decoration:underline"> <i
                    class="fas fa-book-medical" style="margin-right: 13px;"></i>Health Programs</a>
        </li>
        <li><a href="/doctors"
                style="font-size: large; font-family: 'Montserrat', sans-serif; text-decoration:underline"><i
                    class="fas fa-user-md" style="margin-right: 13px;"></i>Doctors</a></li>
        <li><a href="/appointments"
                style="font-size: large; font-family: 'Montserrat', sans-serif; text-decoration:underline"><i
                    class="fas fa-notes-medical" style="margin-right: 15px;"></i>Appointments</a></li>
    </ul>

    <!-- Sticky Horizontal Navigation Bar -->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark"
        style="height: 72px; padding-top: 1rem; margin-left: 20%;">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <h6 style="font-family: 'Roboto Mono';">{{user.name.last}}, {{user.name.first}} {{user.name.middle}}
                </h6>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0" style="list-style-type: none;">
            <li class="nav-item dropdown {{#if login_active}}show{{/if}}">
                <a class="nav-link dropdown-toggle caret-off" href="#" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="{{#if login_active}}true{{else}}false{{/if}}">
                    <h6><i class="fas fa-cog" style="padding-right: 7px;"></i>Settings</h6>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-4 {{#if login_active}}show{{/if}}"
                    aria-labelledby="navbarDropdownMenuLink">
                    <div class="container-fluid m-auto text-center p-auto">
                        <form method="POST">
                            <div class="text-center px-3">
                                <h6><a href="/account" style="color:#2F8250;">Account</a></h6>
                                <hr>
                                <h6><a href="/logout" style="color:#2F8250;">Log Out</a></h6>
                            </div>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </nav>

    <!-- End of Navigation Bar -->

    <div class="profile-content">
        <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif; font-size:13vh;">Health Program
        </p>
        <hr>
        <div class="card mx-auto border shadow-sm pt-2" style="width: 973px; ">
            <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <label for="hp_name">Name of Health Program</label>
                                <input type="text" class="form-control" id="hp_name" name="hp_name">
                            </div>
                            <div class="form-group col-md-1"></div>
                            <div class="form-group col-md-1">
                                <label for="hp_cap">Cap</label>
                                <input type="number" class="form-control" id="hp_cap" name="hp_cap"
                                    min="1">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="hp_startdate">Start Date</label>
                                <input type="date" class="form-control" id="hp_startdate" name="hp_startdate">
                            </div>
                            <div class="form-group col-md-3"></div>
                            <div class="form-group col-md-3">
                                <label for="hp_enddate">End Date</label>
                                <input type="date" class="form-control" id="hp_enddate" name="hp_enddate">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="hp_starttime">Start Time</label>
                                <input type="time" class="form-control" id="hp_starttime" name="hp_starttime">
                            </div>
                            <div class="form-group col-md-3"></div>
                            <div class="form-group col-md-3">
                                <label for="hp_endtime">End Time</label>
                                <input type="time" class="form-control" id="hp_endtime" name="hp_endtime">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="hp_location">Location</label>
                                <input type="text" class="form-control" id="hp_location" name="hp_location">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="appointment_reason">Description</label>
                            <textarea class="form-control" id="appointment_reason" name="appointment_reason" rows="3"></textarea>
                        </div>
                        <div class="form-group text-center pt-3">
                            <button class="btn btn-success" id="submit_btn" type="submit">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        else {
                            event.preventDefault();
                            $('#confirmAppointment').modal('show');
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        $(function () {
            var dtToday = new Date();

            var month = dtToday.getMonth() + 1;
            var day = dtToday.getDate();
            var year = dtToday.getFullYear();
            if (month < 10)
                month = '0' + month.toString();
            if (day < 10)
                day = '0' + day.toString();

            var maxDate = year + '-' + month + '-' + day;
            $('#appointment_date').attr('min', maxDate);
        });

        $('#submit_btn_modal').click(function () {
            document.getElementById("appFormSubmit").submit();
        });

    </script>

    <script>
        window.onscroll = function () { myFunction() };

        $(document).ready(function () {
            $('#appointment_name').select2();
        });

        function selectDoctor() {
            $('#appointment_day').prop("disabled", false);
            var id = $('#appointment_name').children(":selected").attr("id");
            // alert($('#' + id).attr('name'));
            $('#appointment_day').empty();
            $('#appointment_day').append('<option selected disabled value="">Choose a schedule...</option>');
            $('#appointment_day').append($('#' + id).attr('name'));
        }

        function selectDay() {
            $('#appointment_date').prop("disabled", false);
            $('#appointment_time').prop("disabled", false);
            $('#appointment_reason').prop("disabled", false);

            var val = $('#appointment_day').children(":selected").attr("value");
            var res = val.split(",");
            var ban_day = 0;
            var message = "Please choose a day that is ";
            // alert(res[1])
            $('#appointment_time').attr('min', res[1]);
            $('#appointment_time').attr('max', res[2]);
            $('#appointment_time').attr('value', res[1]);

            if (res[0].localeCompare("Sunday") == 0) {
                alert("Sunday");
                message = message + "Sunday.";
                ban_day = [1, 2, 3, 4, 5, 6];
            } else if (res[0].localeCompare("Monday") == 0) {
                message = message + "Monday.";
                ban_day = [0, 2, 3, 4, 5, 6];
            } else if (res[0].localeCompare("Tuesday") == 0) {
                message = message + "Tuesday.";
                ban_day = [0, 1, 3, 4, 5, 6];
            } else if (res[0].localeCompare("Wednesday") == 0) {
                message = message + "Wednesday.";
                ban_day = [0, 1, 2, 4, 5, 6];
            } else if (res[0].localeCompare("Thursday") == 0) {
                message = message + "Thursday.";
                ban_day = [0, 1, 2, 3, 5, 6];
            } else if (res[0].localeCompare("Friday") == 0) {
                message = message + "Friday.";
                ban_day = [0, 1, 2, 3, 4, 6];
            } else {
                alert("Saturday");
                message = message + "Saturday.";
                ban_day = [0, 1, 2, 3, 4, 5];
            }

            const picker = document.getElementById('appointment_date');
            picker.addEventListener('input', function (e) {
                var day = new Date(this.value).getUTCDay();
                if (ban_day.includes(day)) {
                    e.preventDefault();
                    this.value = '';
                    //alert('Weekends not allowed');
                    alert(message);
                }
            });
        }

        $('#submit_btn').click(function () {
            $('#app-date').text($('#appointment_date').val());
            $('#app-time').text($('#appointment_time').val());
            $('#app-doc').text($('#appointment_name').val());
            $('#app-reason').text($('#appointment_reason').val());

            $('#appointment_docID').val($('#appointment_name').children(":selected").attr("id"));
        });

        var navbar = document.getElementById("navbar navbar-expand-lg sticky-top navbar-dark");
        var sticky = navbar.offsetTop;

        function myFunction() {
            if (window.pageYOffset >= sticky) {
                navbar.classList.add("sticky")
            } else {
                navbar.classList.remove("sticky");
            }
        }
    </script>
</body>