<body style="background-color: rgb(243, 243, 243);">
<p class="h1 shrink gradient-text" style="font-size: 70px; text-align: center; margin-top: 4rem;">Dashboard <i class="far fa-hospital"></i></p>
</body>