<style>
    .unit {
background-color: white;
width: 200px;
height: 200px;
line-height: 100px;
margin: 10px;
text-align: center;
}

.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 10px;
}

</style>

<div class="mb-4 p-0" style="display: flex; margin-top: 20px">
    <div class="col-sm-3 p-0" style="display: flex; flex-direction:column">
        <form class="container" action="" method="GET">
            <div class="p-3 card border m-0 mb-2" style="background-color: #E0E0E0;">
                <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif;">Doctors Directory</p>
                <hr>
                    <p class="h6"> Doctor's First Name </p>
                <div class="form-check">
                    <input type="text" name="placement" value="First Name" id="temporary" style="margin-bottom: 15px;">
                </div>
                
                <p class="h6"> Doctor's Surname </p>
                <div class="form-check">
                    <input type="text" name="placement" value="Surname" id="temporary" style="margin-bottom: 15px;">
                </div>

                <p class="h6"> Doctor's Code </p>
                <div class="form-check">
                    <input type="text" name="placement" value="Code" id="temporary" style="margin-bottom: 15px;">
                </div>

                <p class="h6"> Specialization </p>
                <div class="form-check">
                    <input type="text" name="placement" value="Specialization" id="temporary" style="margin-bottom: 15px;">
                </div>

                <p class="h6"> Availability </p>
                <div class="form-check">
                    <input type="text" name="placement" value="Availability" id="temporary" style="margin-bottom: 35px;">
                </div>

                <button id="filter" class="btn btn-primary w-100" role="button" type="submit">Filter</button>

            </div>
        </form>
    </div>
    <div class="col-9 m-0 mb-2" style="display: flex; flex-direction:row; flex-wrap:wrap; background-color: #E0E0E0;">
        
    </div>

</div>