<style>
    th {
        color: #2F8250 !important;
    }
</style>

<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <p class="h1" style="color: #2F8250 ; font-family: 'Montserrat', sans-serif; font-size:13vh;">Health
                Programs</p>
            <p style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">Insert caption here.
            </p>
            <div class="card ">
                {{#if alert}}
                <div class="alert alert-success hide" style="margin-bottom: 1px;">You have successfully registered to
                    {{test}}. Please check your dashboard.</div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger hide" style="margin-bottom: 1px;">Registration failed: You tried
                    submitting an empty field. Please try again.</div>
                {{/if}}

                <div class="card-body" style="color: #5C6B6B ; font-family: 'Montserrat', sans-serif;">
                    <div class="table-responsive text-center">
                        <table class="table text-left blog-project-table" id="hp-table">
                            <thead class=" text-primary">
                                <th style="width:20%">
                                    Name
                                </th>
                                <th style="width:30%">
                                    Description
                                </th>
                                <th class="text-center" style="width:15%">
                                    Start Date
                                </th>
                                <th class="text-center" style="width:15%">
                                    End Date
                                </th>
                                <th class="text-center" style="width:15%">
                                    Location
                                </th>
                                <th class="text-center" style="width:5%">
                                    Cap
                                </th>
                                <th class="text-center" style="width:5%">

                                </th>
                            </thead>
                            <tbody id="entries-table">
                                {{#each healthprogramsContent}}
                                {{> healthprogramCard user_active = ../user_active participants_count = this.participants.length}}
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                    {{!-- Register Health Program Login Modal --}}
                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="loginModalTitle">Log in first!</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" action="/healthprograms/modal">
                                        {{!-- {{#if ./loginmodalError}} --}}
                                        <div class="text-center pb-2" style="color: red">
                                            <small class="loginModalErrorText"></small></div>
                                        {{!-- {{/if}} --}}
                                        <div class="form-group text-center">
                                            <label for="loginemail_modal">Email address</label>
                                            <input type="email" class="form-control" name="loginemail_modal"
                                                id="loginemail_modal" aria-describedby="emailHelp"
                                                placeholder="Enter email">
                                        </div>
                                        <div class="form-group text-center">
                                            <label for="loginpass_modal">Password</label>
                                            <input type="password" class="form-control" name="loginpass_modal"
                                                id="loginpass_modal" placeholder="Password">
                                        </div>
                                        <div class="text-center">
                                            {{!-- <button type="submit" class="btn btn-primary pb-1">Submit</button> --}}
                                            <button class="btn btn-primary pb-1"
                                                onclick="loginModalSubmit()">Submit</button>
                                        </div>
                                        <div class="text-center pt-3">
                                            <small><a href="/forgotpassword" style="color:#2F8250;">Forgot
                                                    password?</a></small>
                                            <hr>
                                            <small>Don't have an account? <a href="/register"
                                                    style="color:#2F8250;">Sign
                                                    up.</a></small>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/userProgram.js"></script>

{{#if loginmodalError}}
<script>
    $(document).ready(function () {
        $('.loginModalErrorText').text('Invalid credentials!');
        $('#loginModal').modal('show');
    });
</script>
{{/if}}

<script>
    // Health Programs Table Sort
    $(document).ready(function () {
        $('#hp-table').DataTable({
            "aaSorting": [],
            columnDefs: [{
                orderable: false,
                targets: [1, 6]
            }]
        })
    });

    function register_user(hp_name) {
        //var hp_confirm = confirm("Do you want to register in the following program: " + hp_name );

        //$('.reasonErrorMsg').show();
        var reason = $('#reason').val()
        if (reason == '') {
            $('.reasonErrorMsg').show();
        }
        //if (hp_confirm == true) {
        //$.ajax({
        //    url: "/healthprograms-reserve/",
        //    data: { id: self },
        //    success: function (response) {
        //        alert("Successfully reserved! Please check your dashboard.")
        //    },
        //    error: function (xhr) { }
        //});
        //} 
    }
</script>