<style>
    .shadow {
        box-shadow: 10px 10px 5px grey;
        transition-duration: 0.4s;
    }

    .shadow:hover {
        box-shadow: 0px 0px 0px grey;
        transition-duration: 0.4s;
    }
</style>

<div class="container-fluid pb-4">
    <div class="row">
        <div class="col"
            style="background-image: url('/img/1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;  background-color: gray; height: 350px;">
            <div class="pt-5 pl-3">
                <h1 style="font-family: Montserrat;">Setting the standards in healthcare.</h1>
                <p class="pt-2" style="font-family: Roboto Mono;">yea</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-5">
    <div class="row">
        <div class="col-lg py-1 shadow"
            style="border-radius: 5px; background-image: url('/img/2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;  background-color: gray; height: 350px;">
            <div class="pt-3">
                <h2 style="font-family: Montserrat;">Health Programs</h2>
                <p class="pt-2" style="font-family: Roboto Mono;">yea</p>
            </div>
            <div style="position:absolute; bottom:30px; left:40%">
                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
        <div class="col-lg offset-lg-1 py-1 shadow"
            style="border-radius: 5px; background-image: url('/img/3.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;  background-color: gray; height: 350px;">
            <div class="pt-3">
                <h2 style="font-family: Montserrat;">Book an appointment now</h2>
                <p class="pt-2" style="font-family: Roboto Mono;">yea</p>
            </div>
            <div style="position:absolute; bottom:30px; left:40%">
                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
        <div class="col-lg offset-lg-1 py-1 shadow"
            style="position:relative; border-radius: 5px; background-image: url('/img/4.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;  background-color: gray; height: 350px;">
            <div class="pt-3">
                <h2 style="font-family: Montserrat;">Meet the doctors</h2>
                <p class="pt-2" style="font-family: Roboto Mono;">yea</p>
            </div>
            <div style="position:absolute; bottom:30px; left:40%">
                <button type="button" class="btn btn-success">Success</button>
            </div>
        </div>
    </div>
</div>

<footer class="footer" style="background-color: #5C6B6B;">
    <div class="container-fluid pt-4 pb-3 px-4">
        <div class="row d-flex">
            <div class="col-lg text-left">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <img src="/img/rainbow.png" width="50">
                    <h2 style="font-family: Montserrat; color: #F2F2F2;">DoloMed</h2>
                </div>

                <p style="font-family: Roboto Mono; color: #F2F2F2;">About | Health Programs | Doctors</p>
            </div>
            <div class="col-lg text-right">
                <div class="d-lg-flex flex-column align-items-end justify-content-end">
                    <p style="font-family: Montserrat; color: #F2F2F2;">Taft Avenue, Quezon City, 1671</p>
                    <p style="font-family: Montserrat; color: #F2F2F2;">09271273042</p>
                </div>
            </div>
        </div>
    </div>
</footer>