<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/6f00e67846.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/css/register.css" />
    <title>Register</title>
</head>

<body style="background-color: rgb(243, 243, 243);">
<p class="h1 shrink gradient-text" style="font-size: 70px; text-align: center; margin-top: 4rem;">DoliMed <i class="far fa-hospital"></i></p>

<form class="dirty" id="form" method="POST" action="/register" enctype="multipart/form-data">
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Account Information<span class="text-danger"> *</span></div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Setting up your account</p>
            <small class="text-danger">* Required fields</small>
            <div class="card-text">
                <div class="form-group">
                    <div class="form-group">
                        <label for="phone">Email<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Email" style="margin-bottom: 25px;"
                            value="" />
                        <p style="color: red;">
                           
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Password<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Password" style="margin-bottom: 25px;"
                            value="" />
                        <p style="color: red;">
                           
                        </p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Confirm Password<span class="text-danger"> *</span></label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Confirm Password" style="margin-bottom: 25px;"
                            value="" />
                        <p style="color: red;">
                           
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Contact Information<span class="text-danger"> *</span>
            </div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;">Tell us about yourself and how we can contact you.</p>
            <small class="text-danger">* Required fields</small>
            <div class="card-text">
                <div class="form-group">
                    <div class="row">
                        <div class="col pr-2">
                            <label for="fname">First Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="fname" name="fname" aria-describedby="emailHelp"
                                placeholder="First Name" value="" />
                            <p style="color: red;">
                               
                            </p>
                        </div>
                        <div class="col pr-2">
                            <label for="fname">Middle Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="fname" name="fname" aria-describedby="emailHelp"
                                placeholder="First Name" value="" />
                            <p style="color: red;">
                               
                            </p>
                        </div>
                        <div class="col pl-2">
                            <label for="lname">Last Name<span class="text-danger"> *</span></label>
                            <input type="text" class="form-control" id="lname" name="lname" aria-describedby="emailHelp"
                                placeholder="Last Name" value="" />
                            <p style="color: red;">
                                
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12" style="margin-top: 15px;">
                                <label for="streetAdd">Home Address<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                                    aria-describedby="emailHelp" placeholder="Home Address"
                                    value="" />
                                <p style="color: red;">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4 ">
                                <label for="date">Date of Birth<span class="text-danger"> *</span></label>
                                 <input type="date" class="form-control" id="date" name="date"
                                    aria-describedby="emailHelp" placeholder="Date of Birth"
                                    value="" />

                                <p style="color: red;">
                                    
                                </p>
                            </div>
                            <div class="col-3">
                                <label for="phone">Phone Number<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="phone" name="phone"
                                    aria-describedby="emailHelp" placeholder="Phone Number"
                                    value="" />

                                <p style="color: red;">
                                  
                                </p>
                            </div>
                            <div class="col-5">
                                <label style="margin-left: -15px; margin-right: 20px">Gender<span class="text-danger"> *</span></label>
                                <div class="row">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="Front Desk" value="Front Desk"/>
                                        <label for="Front Desk" style="font-weight: normal; margin-right: 5px;">Male</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="gender" id="Front Desk" value="Female"/>
                                        <label for="Front Desk" style="font-weight: normal; margin-right: 5px;">Female</label>
                                    </div>
                                    <div class="form-check col-20 ">
                                        <input class="form-check-input" type="radio" value="Others" id="Others" name="gender">
                                        <label for="s-other" style="font-weight: normal; margin-right: 5px;"> Others </label>
                                        <div class="form-check col-1 showother" style="margin-top: -45px; margin-left: 35px">
                                            <input type="text" class="form-control" style="width: 103px" id="otherAnswer" name="otherAnswer" value="" placeholder="" />
                                            <p style="color: red;"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12" style="margin-top: 5px;">
                                <label for="streetAdd">Name of Emergency Contact Person<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                                    aria-describedby="emailHelp" placeholder="Name of Emergency Contact Person"
                                    value="" />
                                <p style="color: red;">
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-7">
                                <label for="streetAdd">Emergency Contact Person Number<span class="text-danger"> *</span></label>
                                 <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                                    aria-describedby="emailHelp" placeholder="Emergency Contact Person Number"
                                    value="" />

                                <p style="color: red;">
                                    
                                </p>
                            </div>
                            <div class="col-5">
                                <label for="streetAdd">Relationship<span class="text-danger"> *</span></label>
                                <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                                    aria-describedby="emailHelp" placeholder="Relationship"
                                    value="" />

                                <p style="color: red;">
                                  
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mx-auto border shadow-sm" style="width: 50rem; margin-bottom: 2rem;">
        <div class="card-body">
            <div class="card-title" style="font-size: 42px;">Past Medical History<span class="text-danger"> *</span></div>
            <p style="font-style: italic; font-size: 16px; margin-top: -16px;"> All questions are strictly confidential and will become part of your medical record.</p>
            <small class="text-danger">* Required fields</small>
            <div class="col-10">
                <label style="margin-left: -15px; margin-right: 20px">Medical Problems<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Check all that applies)</span></label>

                <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Heart Disease </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Diabetes </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Depression </label>
                    </div>
                    <div class="form-check col-3 pb-2">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Diarrhea </label>
                    </div>
                </div>
                
                 <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Chest Pain </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Thyroid </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Stroke </label>
                    </div>
                    <div class="form-check col-3 pb-2">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Constipation </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Heart Murmur </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Arthritis </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Nervous Disorder </label>
                    </div>
                    <div class="form-check col-3 pb-2">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Stomach Ulcers </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Hypertension  </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Kidney Stones </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Back Pain </label>
                    </div>
                    <div class="form-check col-3 pb-2">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Heart burn </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Shortness of breath </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Blood in your urine </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Blood Transfusions </label>
                    </div>
                    <div class="form-check col-3 pb-2">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Hernia Repairs </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Asthma/Emphysema </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Frequent Urination </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Pain with urination </label>
                    </div>
                    <div class="form-check col-3 pb-2">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Bleeding Tendency </label>
                    </div>
                </div>

                <div class="row">
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> HIV or Hepatitis </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Cancer </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Anesthetic Reaction </label>
                    </div>
                    <div class="form-check col-3">
                        <input class="form-check-input" type="checkbox" name="medprob" value="Others" id="Others" style="margin-top: 6px">
                        <label for="s-other" style="font-weight: normal; font-size: 14px"> Others</label>
                        <div class="form-check col-1 showother" style="margin-top: -35px; margin-left: 35px">
                               <input type="text" class="form-control" style="width: 205px" id="otherAnswer" name="otherAnswer" value="" placeholder="" />
                                <p style="color: red;"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-12" style="margin-top: 15px;">
                        <label for="streetAdd">Please list all of your previous surgeries<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Separate with a comma)</span></label>
                        <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                            aria-describedby="emailHelp" placeholder="(E.g. Cataract surgery, Cholecystectomy)"
                            value="" />
                        <p style="color: red;">
                            
                        </p>
                    </div>
                </div>
            </div>

             <div class="form-group">
                <div class="row">
                    <div class="col-12" >
                        <label for="streetAdd">Please list all the medications you are currently taking<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Separate with a comma)</span></label>
                        <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                            aria-describedby="emailHelp" placeholder="(E.g. Prinivil, Zestril)"
                            value="" />
                        <p style="color: red;">
                            
                        </p>
                    </div>
                </div>
            </div>

              <div class="form-group">
                <div class="row">
                    <div class="col-12" >
                        <label for="streetAdd">If applicable, please list all the medications you are currently allergic with<span style="font-weight: normal; font-size:smaller; margin-left: 5px; font-style:italic">(Separate with a comma)</span></label>
                        <input type="text" class="form-control" id="streetAdd" name="streetAdd"
                            aria-describedby="emailHelp" placeholder="(E.g. Prinivil, Zestril)"
                            value="" />
                        <p style="color: red;">
                            
                        </p>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary w-100">SUBMIT</button>
        </div>
    </div>

</form>

</body>
